<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-0 mb-1 p-5">
                    <h6>Add/Update </h6>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Month and Year</mat-label>
                                <input disabled [value]="showValue(monthYear)" style="border: none;">
                                <input matInput [matDatepicker]="dp" [hidden]="true"
                                    [(ngModel)]="monthYear" data-date-format='MM/YYY'>

                                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                <mat-datepicker #dp
                                                startView="multi-year"
                                                (monthSelected)="setMonthAndYear($event, dp)"
                                                panelClass="example-month-picker">
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="full-width" color="primary" appearance="outline">
                                <mat-label>Reading</mat-label>
                                <input matInput [(ngModel)]="meaterReading" placeholder="reading">
                                <mat-error *ngIf="formErrors?.reading" class="form__error">{{
                                    formErrors.reading }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <button class="float-right mat-primary-button" mat-raised-button style="width: 200px; margin-left: auto;"
                        color="primary" (click)="createMeaterReading()">
                        <span>Save Meter Reading</span>
                    </button>
                </div>

                <div class="card mt-5 mb-1 p-5">
                    <div class="table-responsive">
                        <mat-table #table [dataSource]="leaseInfo?.meter_readings" matSort matSortActive="first_name"
                            matSortDirection="desc" matSortDisableClear>

                            <ng-container matColumnDef="year">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Year</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <button mat-flat-button>
                                        <span class="link">{{row.year}}</span>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="month">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Month </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.month}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Created At </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{dateFormat(row.created_at) }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="reading">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Reading </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.reading}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                <mat-cell *matCellDef="let row" class="button-row">
                                    <button mat-raised-button
                                        type="button" matTooltipClass='red-tooltip' matTooltip="Edit Meater Rating"
                                        [matTooltipPosition]="'above'" class="btn btn-link btn-sm btn-just-icon"
                                        (click)="onSelected(row)">
                                           <!-- (click)="onSelected(row)" -->
                                        <i class="material-icons">edit</i>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
                        </mat-table>
                        <span *ngIf="leaseInfo?.meter_readings?.total===0">No Data</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>